In [6]:
# import packages
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
np.set_printoptions(precision=3, suppress=True)

1) <b>Using Pandas to load data into a df</b>

In [10]:
df = pd.read_csv('Data/Sensor_Data_Confidential_341Project_DataSet5.csv')
df.head(10)

,Input 1,Input 2,Input 3,Input 4,Input 5,Input 6,Input 7,Input 8,Input 9,Input 10,Input 11,Input 12,class
0,1.473,2.311,3.179,2.666,0.27950,0.27710,0.22340,0.18550,0.2539,1.138,1.1110,4.712,one
1,1.460,2.377,3.214,2.920,0.25270,0.30640,0.02563,0.19650,0.3027,1.213,1.0270,5.463,one
2,1.552,2.164,3.064,2.745,0.28200,0.21000,0.17210,0.19290,0.2100,1.221,1.0580,5.332,one
3,1.605,2.228,3.149,2.834,0.29170,0.36130,0.20870,0.12940,0.2734,1.144,1.0620,4.829,one
4,1.534,2.114,3.309,2.976,0.21000,0.25020,0.22580,0.17700,0.2039,1.254,1.1120,5.734,one
5,1.796,2.262,3.180,2.888,0.29660,0.14770,0.16240,0.28200,-9999.0000,1.172,1.0300,4.861,one
6,1.566,2.323,3.469,2.711,0.24170,0.05371,0.21120,-0.02686,0.2197,1.158,0.9924,4.780,one
7,1.425,2.152,3.287,2.781,0.29910,0.20750,0.10380,0.11470,0.2698,1.271,1.1150,5.662,one
8,1.595,2.271,3.323,2.743,0.17330,0.19650,0.16850,0.05859,0.2051,1.290,1.0330,5.145,one
9,1.628,2.211,3.176,2.710,0.08423,0.18920,0.27830,0.16850,0.3491,1.155,1.0080,5.613,one

2) <b>Describe the data<b>

In [11]:
df.describe()

,Input 1,Input 2,Input 3,Input 4,Input 5,Input 6,Input 7,Input 8,Input 9,Input 10,Input 11,Input 12
count,2064.000000,2064.000000,2064.000000,2064.000000,2064.000000,2064.000000,2064.000000,2064.000000,2064.000000,2064.000000,2064.000000,2064.000000
mean,-102.944836,-109.711795,-111.319884,-67.994856,-124.949039,-105.066162,-81.658039,-125.587986,-100.835192,-74.740051,-85.312925,-78.599944
std,1027.427211,1050.057089,1072.729741,849.911071,1115.540299,1027.206775,903.995215,1115.467928,1003.772889,877.403031,930.088695,904.281076
min,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000
25%,3.058500,0.817600,4.848250,3.998250,0.462600,0.649400,0.308800,0.188000,0.423600,1.379000,1.089000,0.789800
50%,4.082000,1.353000,5.336000,5.041000,0.806300,1.634500,0.565200,0.302700,0.694600,1.996000,1.285500,4.915000
75%,4.504000,2.354250,5.591250,5.642750,1.400750,2.159000,0.959800,0.491900,1.234250,4.974000,1.865250,5.403000
max,5.105000,4.675000,5.944000,6.013000,2.754000,3.638000,2.446000,1.199000,2.561000,5.312000,5.640000,20.000000

3) <b> Display the shape of the data <b>

In [12]:
df.shape

(2064, 13)

4) <b>Drop the data</b>

In [16]:
#First replace any value of -9999 to numpy's, nan type. 
df = df.replace(-9999, np.nan)
df.dropna(inplace = True)

In [17]:
#shape of data in dataframe after cleansing
df.shape

(1826, 13)